{% extends "base.html" %}
{% load i18n %}
{% block title %}75 YEARS CELEBRATION{% endblock %}

{% block content %}
{% load static %}
<style>
    #video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        overflow: hidden;
    }

    #video-player {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-light">{% trans '75 YEARS CELEBRATION' %}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-light">
            Embrace a vibrant sports community that celebrates victory and fosters friendship. Various teams, thrilling
            matches, and exciting events elucidate our journey. Capture our journey's essence by exploring our photo
            gallery.
            Share the spirit of fun, create lasting memories, and connect with us for enduring experiences.</p>
    </div>
</div>
<div class="container mt-5">    
    <div class="row justify-content-center mt-3">
        <div class="col-md-8" id="video-container">
            <!-- Video Player -->
            <video id="video-player" controls>
                <source src="{{ video.parts.first.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <!-- Part Buttons -->
            {% for part in video.parts.all %}
            <button class="btn btn-primary part-btn" data-src="{{ part.video_file.url }}">{% trans 'Part' %} {{ part.part_number }}</button>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        const videoPlayer = document.getElementById("video-player");
        const partButtons = document.querySelectorAll(".part-btn");

        partButtons.forEach(button => {
            button.addEventListener("click", function() {
                const src = button.getAttribute("data-src");
                videoPlayer.src = src;
                videoPlayer.load();
                videoPlayer.play();
            });
        });
    });
</script>
{% endblock %}
