{% extends "base.html" %}

{% block title %}Album{% endblock %}

{% block content %}
{% load static %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ child_category.name }}</h1>
            <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the
                creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for image in images %}
            <div class="col">
                <div class="card shadow-lg bg-body-tertiary rounded">
                    <img src="{{ image.image.url }}" alt="{{ image.title }} ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">                            
                            <a href="https://www.google.com" target="_blank"  class=" material-symbols-outlined  btn-outline-success p-1">
                                    chat                                
                            </a>                         
                            
                            <small class="text-body-secondary">comments</small>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}