{% extends "base.html" %}

{% block title %}About Us - My Django App{% endblock %}

{% block content %}
{% load static %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Our Patrons</h1>
                <p class="lead text-body-secondary">Welcome to our Founders' Page, a tribute to the pioneering minds who
                    ignited our path. Through their collective vision and courage, they established the cornerstone of
                    our organization's success. Their portraits capture the essence of their dedication and innovation.
                    From challenges emerged resilience, from their ideas blossomed our journey. Today, we stand on their
                    shoulders, guided by their spirit, as we continue to evolve and inspire. These founders are the
                    heart of our story, the architects of our legacy. Their legacy lives on in every achievement, and
                    their influence fuels our future.</p>

            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\4.JPG' %}">
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\15.JPG' %}">
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\16.JPG' %}">
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\14.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\8.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\9.JPG' %}">

                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\10.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\11.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\13.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\14.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\15.JPG' %}">

                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg  bg-body-tertiary rounded">
                        <img src="{% static 'media\patrons\16.JPG' %}">

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}