{% extends "base.html" %}
{% load i18n %}

{% block title %}Patrons{% endblock %}

{% block content %}
{% load static %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-white">{% trans 'Our Founders'%}</h1>
                <p class="text-white">{% blocktrans %}Welcometothepage dedicated to our founders, who are the
                    cornerstone of our organization. Their collective vision and courage have paved our way to success.
                    Their portraits capture their dedication and innovation. Emerging from the backdrop, their
                    leadership has elevated our journey. Today, we stand on their shoulders, guided by their spirit, as
                    we continue to drive progress and inspiration. These founders are the heart of our story, architects
                    of our legacy. Their legacy lives on in every achievement, and their impact strengthens our future.{% endblocktrans %}
                </p>

            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-3">
                {% for founder in founders %}
                <div class="col">
                    <div class="card shadow-lg bg-body-tertiary rounded">
                        <a href="{% url 'founderbio' founder.id %}">
                            <img src="{{ founder.image.url }}" alt="{{ founder.name }}" class="card-img-top" width="300"
                                height="280">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}