{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ founder.name }}{% endblock %}

{% block content %}
{% load static %}

<div class="card text-center border-0" style="display: flex; justify-content: center; align-items: center;">
    <h3 class="card-title text-center mb-3 ">{{ founder.name }} Bio</h3>
    <div class="text-center shadow-lg bg-body-tertiary rounded" >
        <img src="{{ founder.image.url }}" alt="{{ founder.name }}" class="img-fluid mb-3 text-center" width="300"
            height="400">
    </div>

    <div class="card-body">

        <p class="card-text" width="70%">{% trans founder.bio %}</p>
        <a href="{% url 'founders' %}" class="btn btn-outline-success" >{% trans 'Close'%}</a>
    </div>
</div>
{% endblock %}