{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Home'%}{% endblock %}

{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"></script>
<div class="container py-4">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'media/logo.png' %}" alt="" width="350" height="350">
        <h1 class="fw-bold mb-4 text-body-secondary">{% trans '100 years' %}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">{% blocktrans %}Embracing Excellence and Unity in a Century of Celebration! Join us to
                commemorate our community's 100-year journey, from humble beginnings to remarkable achievements. Let's
                honor the past, embrace the present, and inspire the future. Here, a century of compassion,
                perseverance, and dignity comes to life.{% endblocktrans %}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
        </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-info">{% trans 'Interviews'%}</h1>
            <p class="col-md-8 fs-4 text-dark">{% blocktrans %}Step into a world of insights and inspiration with our captivating video
                interviews. Immerse yourself in candid conversations with thought leaders, pioneers, and visionaries
                from various fields.{% endblocktrans %}</p>
            <a class="btn btn-primary btn-lg" href="{% url 'videolist' %}" role="button">{% trans 'Watch Now'%}</a>
        </div>
    </div>

    <div class="row align-items-md-stretch ">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2 class="display-6 fw-bold text-info">{% trans 'Community Sports'%}</h2>
                <p class="text-dark">{% blocktrans %}Explore our photo gallery of a vibrant sports community that celebrates victories and fosters
                    camaraderie. Diverse teams,
                    thrilling matches, and dynamic events define us.{% endblocktrans %}</p>
                <a class="btn btn-primary btn-lg" href="{% url 'sports' main_category_id=1 %}" role="button">{% trans 'Sports'%}</a>
            </div>
        </div>
        <div class="col-md-6 my-1">
            <div class="h-100 p-5  rounded-3 bg-primary">
                <h2 class="display-7 fw-bold text-light">{% trans 'Our Patrons'%}</h2>
                <p class="text-light">{% blocktrans %}Or, keep it light and add a border for some added definition to the boundaries of your content. Be
                    sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of
                    both column's content for equal-height.{% endblocktrans %}</p>
                <a class="btn btn-light" href="{% url 'founders' %}" role="button">{% trans 'Our Founders'%}</a>
            </div>
        </div>
    </div>
    <div class="p-5 my-4 bg-primary rounded-3">
      <h2 class="display-7 fw-bold text-light text-center">{% trans 'Message from our leaders'%}</h2>
        <div class="container-fluid py-1">
            <div class="row text-center">
                <div class="col-md-12">
                  <!-- Carousel wrapper -->
                  <div id="carouselBasicExample" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                    <!-- Inner -->
                    <div class="carousel-inner">
                      <!-- Single item -->
                      <div class="carousel-item active">
                        <p class="lead font-italic mx-4 mx-md-5 text-light">
                          "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                          numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                        </p>
                        <div class="mt-5 mb-4">
                          <img src="{% static 'user.png' %}"
                            class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                            height="100" />
                        </div>
                        <p class=" mb-0 text-light">- Chairman 1</p>
                      </div>
            
                      <!-- Single item -->
                      <div class="carousel-item">
                        <p class="lead font-italic mx-4 mx-md-5 text-light">
                          "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
                          repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
                          elit."
                        </p>
                        <div class="mt-5 mb-4">
                          <img src="{% static 'user.png' %}"
                            class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                            height="100" />
                        </div>
                        <p class=" mb-0 text-light">- Chairman 2</p>
                      </div>
            
                      <!-- Single item -->
                      <div class="carousel-item">
                        <p class="lead font-italic mx-4 mx-md-5 text-light">
                          "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
                          maiores."
                        </p>
                        <div class="mt-5 mb-4">
                          <img src="{% static 'user.png' %}"
                            class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                            height="100" />
                        </div>
                        <p class=" mb-0 text-light">- Chairman 3</p>
                      </div>
                    </div>
                    <!-- Inner -->
            
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                      data-mdb-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                      data-mdb-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <!-- Carousel wrapper -->
                </div>
              </div>
        </div>
    </div>
    
  <div class="px-4 pt-5 my-1 text-center border-bottom">
    <h1 class="display-6 fw-bold text-light">{% trans '75 YEARS ANNIVESSARY' %}</h1>
    <div class="col-lg-10 mx-auto">
      <p class="lead mb-4 text-light">
      {% blocktrans %}
        Discover the rich legacy of our sports club as we celebrate 75 glorious years of triumphs and camaraderie. Immerse yourself in our remarkable journey through the pages of our special anniversary book. Join us in reliving the milestones that have shaped our club's history. While we're currently celebrating our 100th anniversary, this book is a tribute to the incredible 75 years that paved the way for our enduring success. Read Now and relish the memories!
      {% endblocktrans %}
      .</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary" href="{% url 'pdf' pdf_id=2 %}" role="button">{% trans 'Read Now'%}</a>
        
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="{% static '75.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="500" height="900" loading="lazy">
      </div>
    </div>
  </div>
  <div class="container col-xl-12 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1  mb-3 text-light">Subscribe Now</h1>
        <p class="col-lg-12  fs-5 text-light">
        {% blocktrans %}
          Join us in commemorating our momentous 100th anniversary by subscribing today to receive exclusive updates via email or SMS, ensuring you're always in the loop about fresh content and the latest news on our community. Embrace this opportunity to stay connected and engaged with our vibrant community as we celebrate a century of remarkable achievements. Don't miss out – subscribe now and be a part of our ongoing legacy!.
        {% endblocktrans %}
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">{% trans 'Email address' %}</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingPassword" placeholder="Phone Number">
            <label for="floatingPassword">{% trans 'Phone Number' %}</label>
          </div>  
          <hr class="my-4">        
          <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans 'Subscribe' %}</button>
          <hr class="my-4">
          <small class="text-body-secondary">
          {% blocktrans %}
            You have the flexibility to provide either your email address,phone number or both– choose whichever works best for you.
          {% endblocktrans %}
          </small>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}