{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="container py-4">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'media/logo.png' %}" alt="" width="350" height="350">
        <h1 class="fw-bold mb-4 text-white">{% trans '100 years' %}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">Embracing Excellence and Unity in a Century of Celebration! Join us to
                commemorate our community's 100-year journey, from humble beginnings to remarkable achievements. Let's
                honor the past, embrace the present, and inspire the future. Here, a century of compassion,
                perseverance, and dignity comes to life</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
        </div>
    </div>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{% trans 'Interviews'%}</h1>
            <p class="col-md-8 fs-4">{% blocktrans %}Step into a world of insights and inspiration with our captivating video
                interviews. Immerse yourself in candid conversations with thought leaders, pioneers, and visionaries
                from various fields.{% endblocktrans %}</p>
            <a class="btn btn-outline-success btn-lg" href="{% url 'videolist' %}" role="button">Watch Now</a>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5  rounded-3">
                <h2>{% trans 'Community Sports'%}</h2>
                <p>{% blocktrans %}Explore our photo gallery of a vibrant sports community that celebrates victories and fosters
                    camaraderie. Diverse teams,
                    thrilling matches, and dynamic events define us.{% endblocktrans %}</p>
                <a class="btn btn-outline-light btn-lg" href="{% url 'sports' main_category_id=1 %}" role="button">Sports</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5   rounded-3">
                <h2>{% trans 'Our Patrons'%}</h2>
                <p>{% blocktrans %}Or, keep it light and add a border for some added definition to the boundaries of your content. Be
                    sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of
                    both column's content for equal-height.{% endblocktrans %}</p>
                <a class="btn btn-outline-light" href="{% url 'founders' %}" role="button">Our Founders</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}