{% extends "base.html" %}

{% block title %}Timeline{% endblock %}

{% block content %}
{% load static %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">સમયરેખા</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Embark on a visual journey through time with our captivating timeline. Spanning pivotal moments and
            milestones, this timeline weaves together the past, present, and future. Each photo serves as a snapshot
            into history, capturing the essence of the moments that shaped us. From humble beginnings to remarkable
            achievements, our timeline unveils the story of our evolution. Join us in reliving cherished memories and
            celebrating the progress that propels us forward</p>
    </div>
</div>
<section >
    <div class="container py-5">
        <div class="main-timeline-2 ">
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" data-bs-slide="next">
                                    <img src="{% static 'media\jaffery\12.JPG' %}" class="d-block w-100" alt="Slide 1">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="{% static 'media\jaffery\3.JPG' %}" class="d-block w-100" alt="Slide 2">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="{% static 'media\jaffery\9.JPG' %}" class="d-block w-100" alt="Slide 3">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="{% static 'media\jaffery\10.JPG' %}" class="d-block w-100" alt="Slide 4">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="{% static 'media\jaffery\11.JPG' %}" class="d-block w-100" alt="Slide 5">
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-1">Jaffery Sports Club Sports Day</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 1992</p>
                        <button type="button" class="btn btn-outline-success">view more ..</button>
                    </div>
                </div>

            </div>
            <div class="timeline-2 right-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="{% static 'media\timeline\120.JPEG' %}" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4"> Youth Program 2009</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2009</p>
                        <button type="button" class="btn btn-outline-success">view more ..</button>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="{% static 'media\timeline\p.JPG' %}" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">શહેરની વચ્ચે શાંત પાર્ક</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2000</p>
                        <button type="button" class="btn btn-outline-success">view more ..</button>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="{% static 'media\timeline\8.JPG' %}" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4"> Cricket Bonaza 2009</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2009</p>
                        <button type="button" class="btn btn-outline-success">view more ..</button>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="{% static 'media\timeline\1.JPG' %}" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">જૂની ટીમનો ફોટો</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 1993</p>
                        <button type="button" class="btn btn-outline-success">view more ..</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}