{% extends "base.html" %}

{% block title %}About Us - My Django App{% endblock %}

{% block content %}
<section style="background-color: #ffffff;">
    <div class="container py-5">
        <div class="main-timeline-2 ">
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" data-bs-slide="next">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(130).webp"
                                        class="d-block w-100" alt="Slide 1">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(131).webp"
                                        class="d-block w-100" alt="Slide 2">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(134).webp"
                                        class="d-block w-100" alt="Slide 3">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(132).webp"
                                        class="d-block w-100" alt="Slide 4">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#" data-bs-slide="next">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(125).webp"
                                        class="d-block w-100" alt="Slide 5">
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-1">Serene Park Amidst the City</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2017</p>
                        <p class="mb-0">Amidst the bustling city, a tranquil park serves as an oasis of calm. Shaded by
                            tall trees, its paths wind gently, inviting visitors to meander. Birds sing melodies, as
                            benches offer rest to weary wanderers.</p>
                    </div>
                </div>

            </div>
            <div class="timeline-2 right-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(129).webp" class="card-img-top"
                        alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-1">શહેરની વચ્ચે શાંત પાર્ક</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2016</p>
                        <p class="mb-0">ખળભળાટ મચાવતા શહેરની વચ્ચે, એક શાંત પાર્ક શાંતના ઓએસિસ તરીકે સેવા આપે છે. ઊંચા
                            વૃક્ષોથી છાંયડો, તેના રસ્તાઓ હળવાશથી પવન કરે છે, જે મુલાકાતીઓને હરવા-ફરવા માટે આમંત્રિત કરે
                            છે. પક્ષીઓ ધૂન ગાય છે, કારણ કે બેન્ચ થાકેલા ભટકનારાઓને આરામ આપે છે.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(131).webp" class="card-img-top"
                        alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">શહેરની વચ્ચે શાંત પાર્ક</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2015</p>
                        <p class="mb-0">ખળભળાટ મચાવતા શહેરની વચ્ચે, એક શાંત પાર્ક શાંતના ઓએસિસ તરીકે સેવા આપે છે. ઊંચા
                            વૃક્ષોથી છાંયડો, તેના રસ્તાઓ હળવાશથી પવન કરે છે, જે મુલાકાતીઓને હરવા-ફરવા માટે આમંત્રિત કરે
                            છે. પક્ષીઓ ધૂન ગાય છે, કારણ કે બેન્ચ થાકેલા ભટકનારાઓને આરામ આપે છે.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(125).webp" class="card-img-top"
                        alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4"> Serene Park Amidst the City</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2014</p>
                        <p class="mb-0">Amidst the bustling city, a tranquil park serves as an oasis of calm. Shaded by
                            tall trees, its paths wind gently, inviting visitors to meander. Birds sing melodies, as
                            benches offer rest to weary wanderers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(144).webp" class="card-img-top"
                        alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">શહેરની વચ્ચે શાંત પાર્ક</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2013</p>
                        <p class="mb-0">ખળભળાટ મચાવતા શહેરની વચ્ચે, એક શાંત પાર્ક શાંતના ઓએસિસ તરીકે સેવા આપે છે. ઊંચા
                            વૃક્ષોથી છાંયડો, તેના રસ્તાઓ હળવાશથી પવન કરે છે, જે મુલાકાતીઓને હરવા-ફરવા માટે આમંત્રિત કરે
                            છે. પક્ષીઓ ધૂન ગાય છે, કારણ કે બેન્ચ થાકેલા ભટકનારાઓને આરામ આપે છે.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}