{% extends "base.html" %}

{% block title %}About Us - My Django App{% endblock %}

{% block content %}
{% load static %}


{% for video in videos %}
<section class="py-1 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light text-light">{{ video.title }}</h1>
      <p class="lead text-light">{{ video.description }}</p>
    </div>
  </div>
</section>
<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for part in video.parts.all|dictsort:"part_number" %}
      <div class="col" >
        <div class="card shadow-lg " style="background-color: rgba(255, 255, 255, 0.5);">
          <video controls preload="metadata">
            <source src="{{ part.video_file.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="card-body">
            <p class="card-text">Part {{ part.part_number }}: {{ video.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group text-center">
                
                <a href="{% url 'video_player' video.id %}" class="btn btn-outline-primary ">Watch Now</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  {% endblock %}